<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">First Name:</label>
    <input id="firstName" formControlName="firstName" />
    <div *ngIf="inputForm.get('firstName')?.touched && inputForm.get('firstName')?.invalid">
      First name is required.
    </div>
  </div>

  <div>
    <label for="lastName">Last Name:</label>
    <input id="lastName" formControlName="lastName" />
    <div *ngIf="inputForm.errors?.['lastNameRequired'] && inputForm.get('lastName')?.touched">
      Last name is required when dropdown is set to "true".
    </div>
  </div>

  <div>
    <label for="dropdown">Dropdown:</label>
    <select id="dropdown" formControlName="dropdown">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
  </div>

  <button type="submit" [disabled]="inputForm.invalid">Submit</button>
</form>
